.btn{
    margin: 2px;
    font-family: "Josefin Sans", Arial, sans-serif;
    border-radius: 0;
    transition: .5s;
    cursor: pointer;
}
.btn-medium{
    padding: .8rem 1.2rem !important;
    font-size: .8rem;
    font-weight: 300;
}
.btn-large{
    padding: 1rem 1.5rem !important;
    font-size: .9rem;
    font-weight: 400;
}
.btn-fill{
    color: #000000;
    background-color: #c49b63;
    border: 1px solid transparent;

}
.btn-fill:hover{
    color: #c49b63;
    background-color: transparent;
    border-color: #c49b63;
}
.btn-clean{
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;

}
.btn-clean:hover{
    color: #000000;
    background-color: #c49b63;
    border-color: #c49b63;
}