.welcome {
    height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }
 .welcome:after {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     left: 0;
     bottom: 0;
     background-color: #000000;
     opacity: .6;
 }
 .welcome-cover {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     z-index: 2;
 }
 .welcome-cover .welcome-inner{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
 }
 .welcome-cover .welcome-inner h2{
    color: #c49b63;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
 }
 .welcome-cover .welcome-inner h1{
    color: #ffffff;
    font-size: 2.7rem;
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 1px;
}
.welcome-cover .welcome-inner p{
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 300;
    color: white;
}
